[submodule "THE_vision_ros2"]
	path = THE_vision_ros2
	url = https://github.com/Cionix90/THE_vision_ros2.git
[submodule "THE_manipulation_ros2"]
	path = THE_manipulation_ros2
	url = https://github.com/Cionix90/THE_manipulation_ros2.git
